## Producao
#.env
#.git
#/node_modules/
#typings
#.gitignore
#.idea/
#/app
#typings.json
#typings.d.ts
#tsconfig.json
#systemjs.builder.js
#gulpfile.js

## Desenvolvimento
.git
/node_modules/
.idea/
/public/js/app/*
/public/js/vendor/*
